**

# Allowed things
!_generated/**
!config/**
!public/**
!scripts/**
!src/**
!next.config.js
!package.json
!tsconfig.json
!yarn.lock
!codegen.ts
!next-env.d.ts
!type.d.ts

# Extra exclude from allowed things
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/*.test.*
**/*.md
